h1　管理画面

= link_to '新規作成', new_admin_talent_path, class: 'btn btn-raised btn-info'
button.btn.btn-raised.btn-primary type="button"  Primary
button.btn.btn-primary.bmd-btn-fab type="button" 
  i.material-icons grade
